.info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    padding: 0 20%;
    gap: 30px;
}

.info_tittle {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    color: #1f54c5;
}

.info_text {
    font-size: 30px;
    font-weight: 300;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 35px;
    margin-bottom: 10px;
}

.jofe_container {
    display: flex;
    justify-content: space-around;
}

.jofe {
    text-align: center;
}

.img {
    width: 80px;
}

.text {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}