.tittle_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-weight: 700;
    opacity: 0;
    color: transparent;
    transition: opacity 2s step-start;

    background-clip: text;
    /* background: rgb(0,11,25);
    background: linear-gradient(115deg, rgba(0,11,25,1) 0%, rgba(0,5,17,1) 50%, rgba(0,0,11,1) 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.visible {
    opacity: 1;
}

.tittle {
    font-size: 40px;
    margin-bottom: 5px;
}

.tittle_name {
    font-size: 100px;
    text-align: left;
}
