.nav_bar {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    opacity: 0;
    transition: opacity 2s ease;
}

.visible {
    opacity: 1;
}

button {
    border: none;
    background: none;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .nav_bar {
        gap: 150px;
    }
}

@media (max-width: 600px) {
    .nav_bar {
        gap: 90px;
    }

    button {
        font-size: 30px;
    }
}